.cards {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.card {
  width: 25%;
  width: calc(25% - 15px);
  padding: 20px;
  color: #777;
  background-color: rgba(170,170,170,0.1);
  margin: 0 20px 20px 0;
  &:nth-of-type(4n+4){
    margin-right: 0;
  }
  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  &__header {
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 20px;
  }
  &__author {

  }
  &__copy {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
  }
  &__tags {

  }
}
