@mixin mix_breakpoint($deviceType) {
  @if $deviceType == mob {
    @media (max-width: 600px) {
      @content;
    }
  }
  @else if $deviceType == tab {
    @media (max-width: 999px) {
      @content;
    }
  }
  @else if $deviceType == desk {
    @media (min-width: 1000px) {
      @content;
    }
  }
}
